 <aside class="main-sidebar">
            <!-- sidebar -->
            <div class="sidebar">
               <!-- sidebar menu -->
               <ul class="sidebar-menu">
                  <li class="active">
                     <a href='/adminhome'><i class="fa fa-tachometer"></i><span>Dashboard</span>
                     <span class="pull-right-container">
                     </span>
                     </a>
                  </li>
                  <li class="treeview">
                     <a href="#">
                     <i class="fa fa-users"></i><span>Settings</span>
                     <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                     </span>
                     </a>
                     <ul class="treeview-menu">
                        <li><a href='/exam'>Add Exam</a></li>
                         
                        
                     </ul>
                  </li>
                  
                   <li class="treeview">
                     <a href="#">
                     <i class="fa fa-users"></i><span>Operations</span>
                     <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                     </span>
                     </a>
                     <ul class="treeview-menu">
                        <li><a href='/searchstudent'>Search student</a></li>
                         
                        
                     </ul>
                  </li>
                  
                 
                  
                  <li >
                     <a href='/logout'>
                     <i class="fa fa-users"></i><span>Log out</span>
                     <span class="pull-right-container">
                     
                     </span>
                     </a>
                     </li>
                     </ul>
                  
                  
              
            </div>
            <!-- /.sidebar -->
         </aside>