 <aside class="main-sidebar">
            <!-- sidebar -->
            <div class="sidebar">
               <!-- sidebar menu -->
               <ul class="sidebar-menu">
                  <li class="active">
                     <span class="pull-right-container">
                     </span>
                     </a>
                  </li>
                 
                                
                  <li >
                     <a href='/exit'>
                     <i class="fa fa-users"></i><span>Exit</span>
                     <span class="pull-right-container">
                     
                     </span>
                     </a>
                     </li>
                     </ul>
                  
                  
              
            </div>
            <!-- /.sidebar -->
         </aside>